@mixin btn-main($color:$COLOR_1, $background:$COLOR_2) {
    text-decoration: none;
    color: $color;
    background-color: $background;
    padding: 10px 15px;
    font-family: 'Roboto_Condensed-Light';
    border-radius: 3px;
    border:1px solid $background;
    cursor: pointer;
    i{
        margin-left: 6px;
        &.fa-bars{
            margin-left:0px;
        }
    }
}

.btn-1 {
    @include btn-main();
}

.btn-2 {
    @include btn-main($COLOR_1, $COLOR_3);
}

.btn-3 {
    @include btn-main($COLOR_2, $COLOR_1);
}

.btn-4 {
    @include btn-main($COLOR_1, $COLOR_2);
    border: 1px solid $COLOR_1 !important;
}

p{
    font-family: 'WorkSans-Regular'; 
    color: $COLOR_1;
    &.min{
        font-size: .7rem;
    }
}

.titulo-1{
    font-family: 'ScopeOne-Regular'; 
    line-height: 60px; 
}

.titulo-2{
    font-family: 'ScopeOne-Regular'; 
    //line-height: 40px; 
}

.titulo-2-big{
    font-family: 'ScopeOne-Regular'; 
    font-size: 3rem;
}

.titulo-2-min{
    font-family: 'ScopeOne-Regular'; 
    font-size: 1.5rem;
}

.titulo-3{
    font-family: 'WorkSans-Regular'; 
    //line-height: 40px; 
}

.c-container {
    padding-top: 70px;
    padding-bottom: 70px;
}

.c-padding {
    padding: 20px;
}

.c-container-small {}

@mixin bg-degradado {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(1, 35, 70, 1) 69%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .c-container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .container-mobile-fluid {
        width: 100% !important;
        max-width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .c-container {
        // padding-left: 70px;
        // padding-right: 70px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}