.entregados {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: $COLOR_3;

    .item {
        .txt {
            .c-block {
                border: 1px solid #818782;
                border-left: 0px;
                border-right: 0px;
                padding-top: 20px;
                padding-bottom: 20px;
                min-height: 400px;
                position: relative;

                h4 {
                    font-family: 'WorkSans-Regular';
                    color: $COLOR_1;
                }

                .det {
                    p {
                        color: #5C605D;
                        font-family: 'WorkSans-Medium';
                        margin-bottom: 0px;
                        font-size: .9rem;
                    }

                    h5 {
                        color: #252625;
                        font-family: 'WorkSans-Light';
                        font-size: 1.1rem;
                    }
                }
                &.c-block-2{
                    min-height: inherit;
                }

            }

        }

        .slider {
            height: 100%;
            display: flex;

            .s-item {
                padding-right: 10px;
                overflow: hidden;

                .c-item {
                    background-color: #000;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

        }
    }
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .entregados {
        padding-left: 20px !important;

        .item {
            .slider {
                .s-item {
                    .c-item {
                        height: 300px;
                    }
                }
            }

            .txt {
                .c-block {
                    min-height: initial;
                    .det {
                        h5 {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .entregados {
        .item {
            .txt {
                .c-block {

                    .det {
                        position: absolute;
                        bottom: 0;
                    }
                }

            }

            .slider {
                display: flex;

                .s-item {
                    &.s-item-1 {
                        //background-color: red;
                        width: 58%;
                    }

                    &.s-item-2 {
                        //background-color: blue;
                        width: 42%;
                    }
                    .c-item{
                        img{
                            height: 400px;
                        }
                    }
                }

            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}