.c-footer {
    background-color: $COLOR_1;
    padding-top: 70px;
    padding-bottom: 40px;

    p{
        &.small{
            font-family: 'WorkSans-Light';  
            font-size: .7rem;
            color: #A5ADA7;
        }
    }

    .block-1 {
        h2 {
            color: $COLOR_2;
        }

        ul {
            &.redes {
                display: flex;
                list-style: none;
                padding-left: 0px;
                margin-top: 25px;

                li {
                    span {
                        background-color: #F5F1E6;
                        width: 18px;
                        border-radius: 50%;
                        height: 18px;
                        margin-right: 6px;

                        .c-fa {
                            color: $COLOR_1;
                        }
                    }
                }
            }
        }

        p {
            font-family: 'WorkSans-Light';
            color: #A5ADA7;
        }
    }

    .block-2 {
        ul {
            li {
                a {
                    text-decoration: none;
                    font-family: 'ScopeOne-Regular';
                    color: #F5F1E6;
                }
            }

            &.tyc {
                li {
                    a {
                        text-decoration: none;
                        font-family: 'WorkSans-Light';
                        color: #F5F1E6;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}