.pre-footer{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #000;
    background-image: url('../img/typ.jpg');
    background-image: -webkit-image-set(url('../img/typ.webp')1x);
    background-position: top right;
    background-repeat: no-repeat;
    .logo{
        img{
            max-width: 70px;
            margin-bottom: 30px;
        }
    }
    h2{
        color: #FFF;
    }
    .items{
        color: #FFF;
        margin-top: 50px;
        .item{
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
            .icono{
                margin-bottom: 15px;
            }
            p{
                span{
                    font-family: 'OpenSans-Semibold';  
                }
            }
        }
    }
}

.footer{
    background-color: #000;
    padding: 15px 25px 15px;
    color: $COLOR_1;
}

.footer2{
    background-color: $COLOR_2;
    padding: 15px 25px 15px 25px;
    
    p{
        margin: 0px;
        color: $COLOR_1;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .pre-footer {
        .items {
            .item{
                margin-top: 25px;
            }
        }
        .c-container{
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .pre-footer{
        .items{
            padding-left: 120px;
            padding-right: 120px;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}