/*requeridas*/
@font-face {
    font-family: 'FontAwesome';
    src: url(../fonts/fontawesome-webfont.woff2);
    font-display: swap;
}

/*Adicionales*/
@font-face {
    font-family: 'LATO-REGULAR';  
    src: url(../fonts/LATO-REGULAR.TTF);
    font-display: swap;
}
@font-face {
    font-family: 'OpenSans-Regular';  
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSans-Semibold';  
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: 'OpenSans-Light';  
    src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
    font-family: 'OpenSans-Bold';  
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-Medium';  
    src: url(../fonts/IBMPlexSans-Medium.ttf);
}

@font-face {
    font-family: 'IBMPlexSans-BoldItalic';  
    src: url(../fonts/IBMPlexSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'WorkSans-Light';  
    src: url(../fonts/WorkSans-Light.ttf);
}

@font-face {
    font-family: 'WorkSans-Medium';  
    src: url(../fonts/WorkSans-Medium.ttf);
}

@font-face {
    font-family: 'revicons';  
    src: url(../fonts/revicons.ttf);
}

@font-face {
    font-family: 'WorkSans-Regular';  
    src: url(../fonts/WorkSans-Regular.ttf);
}

@font-face {
    font-family: 'ScopeOne-Regular';  
    src: url(../fonts/ScopeOne-Regular.ttf);
}


@font-face {
    font-family: 'Roboto_Condensed-Light';  
    src: url(../fonts/Roboto_Condensed-Light.ttf);
}

// @font-face {
//     font-family: 'Poppins-Black';  
//     src: url(../fonts/Poppins-Black.ttf);
//     font-display: swap;
// }