.header {
    background-color: $COLOR_1;
    padding-top: 20px;
    padding-bottom: 20px;
    .logo{
        img{
            max-height: 37px;
        }
    }
}

.menu-xs {
    background-color: #fff;
    border-top-left-radius: 14px;
    width: 100%;
    max-width: 345px;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    transition: .3s;
    overflow-y: auto;
    z-index: 9999;
    padding: 30px;

    &.active {
        right: 0;
        -webkit-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
        -moz-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
        box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
    }

    .cerrar {
        text-align: right;

        .fa-cmln {
            font-size: 1.5rem;
        }
    }

    .item {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: solid 2px #eaebf4;

        a {
            margin: 0px;
            text-decoration: none;
            color: $COLOR_1;
            text-transform: uppercase;
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .header {
        
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        .btns{
            text-align: right;
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}