.modal {
    &.show {
        z-index: 9999;
    }

    &.c-modal-contacto {
        .modal-header {
            background-color: $COLOR_1;
            border-bottom: 0px;
        }

        .modal-body {
            background-color: $COLOR_1;
            border-radius: 0px 0px 7px 7px;
            padding-left: 40px;
            padding-right: 40px;

            .btn-submit {
                background-color: #000;
                color: $COLOR_1;
                display: block;
                width: 100%;
                font-family: 'TTFirsNeue-Regular';
            }
        }


    }

    &.c-modal-wsp {
        .modal-header {
            background-color: $COLOR_1;
            border-bottom: 0px;

            h5 {
                padding-left: 25px;
            }
        }

        .modal-body {
            background-color: $COLOR_1;
            border-radius: 0px 0px 7px 7px;
            padding-left: 40px;
            padding-right: 40px;

            p {
                margin-bottom: 0px;
                font-size: .9rem;

                &.titulo {
                    font-family: 'TTFirsNeue-Regular';
                    font-weight: 600;
                    padding-bottom: 0;
                    font-size: 1.1rem;
                }
            }

            .btn-submit {
                background-color: #000;
                color: $COLOR_1;
                display: block;
                font-family: 'TTFirsNeue-Regular';
                font-weight: 600;
            }

            .col-form-label {
                font-family: 'TTFirsNeue-Regular';
                font-weight: 600;
                padding-bottom: 0;
                font-size: .8rem;
            }

            .form-control,.form-select {
                padding: 8px 7px;
                font-size: .8rem;
                border: 0px;
                border-radius: 4px;
                border-bottom: 1px solid #DFDFDF;
                transition: 0.3s;

                &:focus {
                    outline: none !important;
                    outline-width: 0 !important;
                    box-shadow: none;
                    -moz-box-shadow: none;
                    -webkit-box-shadow: none;
                    border-bottom: 1px solid $COLOR_1 !important;
                }
            }
            .cod-pais{
                padding-right: 0;
            }
            .nro-tel{
                padding-left: 0;
            }
            .form-select-pais{
                border-radius: 4px 0px 0px 4px;
            }
            .form-control-pais-nro{
                border-radius: 0px 4px 4px 0px;
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}