.proyecto {
    &.distrito {
        .txt {
            position: relative;

            p {
                font-family: 'WorkSans-Light';
                color: #5C605D;
            }

            .c-foot {
                width: 100%;
                position: absolute;
                bottom: 20px;

                p {
                    border-bottom: 1px solid #5C605D;
                    margin-bottom: 0px;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &:first-child {
                        border-top: 1px solid #5C605D;
                    }
                }

            }
        }
    }

    &.home_cronologia {
        .botones {
            text-align: right;

            .btn-3 {
                border-radius: 3px 0px 0px 3px;
            }

            .btn-4 {
                border-radius: 0px 3px 3px 0px;
                margin-left: -5px;
                background-color: transparent;
            }
        }

        .slider {
            .item {
                border-top: 0px;

                &::after {
                    width: 0px;
                    height: 0px;
                }
            }
        }
    }

    &.quienes_somos {
        background-size: cover;
        background-color: $COLOR_1;

        .c-text {
            border: 1px solid #F5F1E6;
            border-right: 0px;
            padding-bottom: 250px;
            padding-top: 20px;

            h2 {
                color: #F5F1E6;
            }
        }

        .c-diagonal {
            border: 1px solid #F5F1E6;

            .c-block {
                border-bottom: 1px solid #F5F1E6;

                &::before {
                    background-color: #F5F1E6;
                }
            }
        }
    }

    &.mapa {
        a {
            background-color: #000;
            display: block;
            text-decoration: none;
            padding-top: 200px;
            padding-bottom: 200px;
            background-size: cover;

            span {

                p {
                    text-decoration: none;
                    color: #fff;
                    margin-bottom: 0px;
                }
            }
        }
        .ubicacion{
            h2{
                color: #FFF;
            }
            .botones{
                text-align: right;
            }
            iframe{
                width: 100%;
                height: 450px;
                filter: grayscale(100%);
            }
        }
    }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .proyecto.distrito {
        .txt {
            .c-foot{
                position: inherit;
            }
        }
    }
    .proyecto.home_cronologia .botones{
        display: contents;
    }
    .proyecto.quienes_somos .c-text{
        border-right: 1px solid #F5F1E6;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}