.referidos {
    &.quienes_somos {
        .block-3 {
            .c-block {
                padding-top: inherit;
                height: 100%;
                position: relative;

                &.c-img {
                    padding: 0px;
                }

                .c-foot {
                    position: absolute;
                    width: 70%;
                    bottom: 30px;
                }
            }
        }
    }

    .nros {
        .txt {
            p {
                font-family: 'WorkSans-Light';
            }
        }

        .nro {
            .c-block {
                border: 1px solid #A5ADA7;

                height: 100%;
                position: relative;

                .c-foot {
                    //background-color: red;
                    padding: 20px;
                    position: absolute;
                    width: 100%;
                    bottom: 0px;

                    h2 {
                        font-family: 'ScopeOne-Regular';
                        font-size: 3rem;
                    }

                    h4 {
                        font-family: 'WorkSans-Regular';
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }

    &.cotiza_aqui {
        .form {
            .btns_interes_referido {
                .btn {
                    background-color: #F5F1E6;
                    color: #939A94;
                    border: 1px solid #939A94;
                    width: 100%;
                    text-align: left;
                    border-radius: 3px;
                    margin-bottom: 7px;
                    transition: 0.3s;

                    &.active {
                        background-color: $COLOR_1;
                        color: #FFF;
                    }
                }

                .cta {
                    background-color: #E3DBCE;
                    display: flex;
                    justify-content: center;
                    /* horizontal */
                    align-items: center;

                    /* vertical */
                    p {
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .referidos.cotiza_aqui {
        .form {
            .btns_interes_referido {
                .cta {
                    min-height: 200px;
                }
            }
        }
    }

    .referidos {
        .nros {
            .nro {
                margin-bottom: 15px;

                .c-block {

                    .c-foot {
                        position: relative;

                    }
                }
            }
        }
    }

    .referidos.quienes_somos .block-3 {
        .c-block {
            padding: 20px;
            .c-foot {
                position: initial;
            }
        }
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .quienes_somos {}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}