.tyc-body{
    background-color: #007F75;
    &.politica-body{
        background-color: #7C6C5D;
    }
    .block-1{
        //position: relative;
        .c-block{
            //position: absolute;
            width: 100%;
            border:1px solid #F5F1E6;
            padding: 25px;
            h1, p{
                color:#F5F1E6;
            }
            p{
                font-family: 'WorkSans-Light';  
            }
        }
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}