@import 'fuentes';
@import 'main';
@import 'complementos';
@import 'header';
@import 'slider';
@import 'animacion';
//@import 'typ';
//@import 'modal';

@import 'in_transition';

@import 'footer';
@import 'menu';
@import 'home_trayectoria';
@import 'home_proyectos';
@import 'home_cronologia';
@import 'home_estetica';
@import 'entregados';
@import 'quienes_somos';
@import 'cotiza_aqui';
@import 'proyecto';
@import 'referidos';
//@import 'terminos';
@import 'tyc';
//@import 'contador';


