@charset "UTF-8";
/*requeridas*/
@font-face {
  font-family: "FontAwesome";
  src: url(../fonts/fontawesome-webfont.woff2);
  font-display: swap;
}
@font-face {
  font-family: "FontAwesome-thin";
  src: url(../fonts/fontawesome-webfont-thin.woff2);
  font-display: swap;
}
/*Adicionales*/
@font-face {
  font-family: "LATO-REGULAR";
  src: url(../fonts/LATO-REGULAR.TTF);
  font-display: swap;
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans-Semibold";
  src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
  font-family: "OpenSans-Light";
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: "IBMPlexSans-Medium";
  src: url(../fonts/IBMPlexSans-Medium.ttf);
}
@font-face {
  font-family: "IBMPlexSans-BoldItalic";
  src: url(../fonts/IBMPlexSans-BoldItalic.ttf);
}
@font-face {
  font-family: "WorkSans-Light";
  src: url(../fonts/WorkSans-Light.ttf);
}
@font-face {
  font-family: "WorkSans-Medium";
  src: url(../fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: "revicons";
  src: url(../fonts/revicons.ttf);
}
@font-face {
  font-family: "WorkSans-Regular";
  src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: "ScopeOne-Regular";
  src: url(../fonts/ScopeOne-Regular.ttf);
}
@font-face {
  font-family: "Roboto_Condensed-Light";
  src: url(../fonts/Roboto_Condensed-Light.ttf);
}
/*COLORES*/
body {
  background-color: #252625;
}

.color-1 {
  color: #252625;
}

.color-2 {
  color: #C5E3CC !important;
}

.color-3 {
  color: #F5F1E6;
}

.color-4 {
  color: #E3DBCE;
}

.background-1 {
  background-color: #252625 !important;
}

.background-2 {
  background-color: #C5E3CC;
}

.background-3 {
  background-color: #F5F1E6;
}

.background-4 {
  background-color: #E3DBCE;
}

.background-5 {
  background-color: #C1B19F;
}

/*LOADER*/
.jm-loadingpage {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #252625;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}
.jm-loadingpage table {
  text-align: center;
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: block !important;
  margin: 15px auto;
  position: relative;
  background: #FFF;
  box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -24px 0 #252625, 24px 0 #FFF;
  }
  66% {
    background: #252625;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #252625;
  }
}
/*Fuentes principales*/
p {
  color: #778299;
  font-size: 0.95rem;
}
p span {
  font-family: "IBMPlexSans-SemiBoldItalic";
}

/*SLICK*/
.slick-next:before,
.slick-prev:before {
  color: #252625 !important;
}

/*REGRESAR ARRIBA*/
.back-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #252625;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: #000;
  transition: 0.3s;
  scale: 0;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
}
.back-top.back-top-visible {
  scale: 1;
}
.back-top:hover {
  color: #FFF;
}
.back-top.force-active-off {
  scale: 0 !important;
}

/*BLOCK SOCIAL*/
.block-social {
  background-color: #C5E3CC;
  position: fixed;
  padding: 10px 20px 15px;
  bottom: 180px;
  border-radius: 7px 0px 0px 7px;
  right: -200px;
  transition: 0.3s;
  text-align: center;
}
.block-social ul {
  display: inline-flex;
  list-style: none;
  padding-left: 10px;
  margin-bottom: 0;
}
.block-social ul li {
  margin-right: 10px;
}
.block-social p {
  margin-bottom: 5px;
  font-size: 0.9rem;
}
.block-social.c-visible {
  right: 0px;
}
.block-social.force-active-off {
  right: -200px !important;
}

/*WSP*/
.c-wsp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #00D900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: #000;
  transition: 0.3s;
  font-size: 1.5rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  scale: 0;
}
.c-wsp.c-visible {
  scale: 1;
}
.c-wsp:hover {
  cursor: pointer;
}
.c-wsp.force-active-off {
  scale: 0 !important;
}
.c-wsp {
  scale: 0 !important;
}

.c-wsp2 {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #252625;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
  font-size: 1.5rem;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.32);
  scale: 1;
  width: 55px;
  height: 55px;
}
.c-wsp2.c-visible {
  scale: 1;
}
.c-wsp2:hover {
  cursor: pointer;
}
.c-wsp2.force-active-off {
  scale: 0 !important;
}
.c-wsp2 {
  scale: 0 !important;
}

.c-wsp-container {
  position: fixed;
  bottom: -550px;
  right: 30px;
  width: 300px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 999999;
  transition: 0.5s;
}
.c-wsp-container.active {
  bottom: 0px;
}
.c-wsp-container .c-head {
  background-color: #075E54;
  padding: 10px 25px;
  border-radius: 5px 5px 0px 0px;
}
.c-wsp-container .c-head .close {
  position: absolute;
  right: 8px;
  width: 25px;
  height: 25;
  color: #FFF;
  cursor: pointer;
  margin-top: -25px;
}
.c-wsp-container .c-body {
  background-color: #FFF;
  padding: 25px 25px 5px 25px;
}
.c-wsp-container .c-body h3 {
  color: #515151;
  font-size: 1.1rem;
  font-family: "Poppins-Medium";
}
.c-wsp-container .c-body p {
  color: #515151;
  font-size: 0.8rem;
}
.c-wsp-container .c-body label {
  font-family: "Poppins-Medium";
  color: #515151;
  font-size: 0.8rem;
  margin-bottom: 0;
}
.c-wsp-container .c-body .form-control,
.c-wsp-container .c-body .form-select {
  padding-left: 0px;
  font-size: 0.8rem;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #DFDFDF;
  transition: 0.3s;
}
.c-wsp-container .c-body .form-control:focus,
.c-wsp-container .c-body .form-select:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #53D6BD !important;
}
.c-wsp-container .c-body .btn.submit {
  display: block;
  width: 100%;
  background-color: #4CCA5A;
  border: 0px;
  font-family: "Poppins-Medium";
}

.back-top {
  display: none;
}

/*END WSP*/
/*LOADING*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* BTN FIXED*/
.btn-fixed-call {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 999;
}
.btn-fixed-call a {
  background: #FFF;
  display: block;
  padding: 5px;
  border-radius: 50px 0px 0px 50px;
  -webkit-box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  text-decoration: none;
  display: flex;
  transition: 0.3s;
}
.btn-fixed-call a .img {
  float: left;
  position: relative;
  width: 50px;
  height: 48px;
}
.btn-fixed-call a .img img {
  max-width: 25px;
}
.btn-fixed-call a .img .off {
  position: absolute;
  border: 2px solid #252625;
  padding: 2px;
  border-radius: 50%;
  transition: 0.3s;
  animation: c_keyframe__btn_fixed_2 2s;
  -webkit-animation: c_keyframe__btn_fixed_2 2s;
  -moz-animation: c_keyframe__btn_fixed_2 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
.btn-fixed-call a .img .off .cont-off {
  width: 40px;
  height: 40px;
  background-color: #252625;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-fixed-call a .img .on {
  position: absolute;
  border: 2px solid #fff;
  padding: 2px;
  border-radius: 50%;
  transition: 0.3s;
  opacity: 0;
  animation: c_keyframe__btn_fixed 2s;
  -webkit-animation: c_keyframe__btn_fixed 2s;
  -moz-animation: c_keyframe__btn_fixed 2s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
.btn-fixed-call a .img .on .cont-on {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-fixed-call a .txt {
  float: left;
  padding: 4px 7px;
  line-height: 20px;
  color: #252625;
  font-family: "IBMPlexSans-SemiBold";
  font-size: 0.9rem;
}
.btn-fixed-call a .txt span {
  font-family: "IBMPlexSans-BoldItalic";
  display: block;
  font-size: 1.2rem;
  margin-top: -2px;
}
.btn-fixed-call:hover a, .btn-fixed-call.active a {
  background-color: #F5F1E6;
}
.btn-fixed-call:hover a .txt, .btn-fixed-call.active a .txt {
  color: #FFF;
}
.btn-fixed-call:hover a .img .off, .btn-fixed-call.active a .img .off {
  opacity: 0;
}
.btn-fixed-call:hover a .img .on, .btn-fixed-call.active a .img .on {
  opacity: 1;
}

@keyframes c_keyframe__btn_fixed {
  0% {
    border: 2px solid #F5F1E6;
  }
  5% {
    border: 2px solid #C5E3CC;
  }
  10% {
    border: 2px solid #F5F1E6;
  }
  15% {
    border: 2px solid #C5E3CC;
  }
  20% {
    border: 2px solid #F5F1E6;
  }
  100% {
    border: 2px solid #F5F1E6;
  }
}
@keyframes c_keyframe__btn_fixed_2 {
  0% {
    border: 2px solid #252625;
  }
  5% {
    border: 2px solid #C5E3CC;
  }
  10% {
    border: 2px solid #252625;
  }
  15% {
    border: 2px solid #C5E3CC;
  }
  20% {
    border: 2px solid #252625;
  }
  100% {
    border: 2px solid #252625;
  }
}
@keyframes c_keyframe__btn_fixed_txt {
  0% {
    color: #252625;
  }
  50% {
    color: #C5E3CC;
  }
  100% {
    color: #252625;
  }
}
@keyframes c_keyframe_xs {
  0% {
    background-color: #E3DBCE;
  }
  90% {
    background-color: #E3DBCE;
  }
  100% {
    background-color: #F5F1E6;
  }
}
.c-subir {
  position: fixed;
  bottom: 90px;
  right: 25px;
  z-index: 9999;
  width: 40px;
  height: 40px;
  background-color: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #252625;
  -webkit-box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  box-shadow: -4px 6px 8px -4px rgba(0, 0, 0, 0.61);
  border: 1px solid #88AFFF;
  scale: 0;
  transition: 0.3s;
}
.c-subir.active {
  scale: 1;
}

.c-msj {
  position: fixed;
  bottom: 35px;
  right: 25px;
  z-index: 9998;
  width: 40px;
  height: 40px;
  background-color: #252625;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #252625;
  border: 1px solid #252625;
  scale: 0;
  transition: 0.3s;
  color: #FFF;
  animation: pulse_ani 2s infinite;
  border: 1px solid #1D66F9;
}
.c-msj.active {
  scale: 1;
}
.c-msj:hover {
  background-color: #C5E3CC;
  color: #000;
  border: 1px solid #C5E3CC;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .c-subir {
    bottom: 70px;
    right: 10px;
  }
  .c-wsp {
    width: 55px;
    height: 55px;
  }
  .c-wsp2,
  .c-wsp {
    scale: 1 !important;
  }
  body {
    margin-bottom: 40px;
  }
  .btn-fixed-call {
    width: 100%;
    bottom: 0px;
    -webkit-box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.48);
    box-shadow: -1px -1px 10px 0px rgba(0, 0, 0, 0.48);
  }
  .btn-fixed-call .img {
    display: none;
  }
  .btn-fixed-call .txt {
    width: 100%;
    font-size: 0.9rem !important;
    padding-left: 0px !important;
    padding-right: 3px !important;
    text-align: center;
  }
  .btn-fixed-call .txt span {
    font-size: 0.9rem !important;
    display: contents !important;
    font-family: "IBMPlexSans-SemiBold" !important;
  }
  .btn-fixed-call a {
    padding: 10px 10px 15px 10px;
    border-radius: 0px;
  }
  .btn-fixed-call a {
    background-color: #FFF !important;
  }
  .btn-fixed-call a .txt {
    background-color: #F5F1E6 !important;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn-fixed-call a .txt picture {
    background-color: #FFF;
    padding: 5px;
    border-radius: 50%;
    float: right;
    margin-right: 10px;
    position: absolute;
    right: 7px;
    margin-top: -6px;
  }
  .btn-fixed-call a .txt picture img {
    width: 20px;
    height: 20px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.btn-1 {
  text-decoration: none;
  color: #252625;
  background-color: #C5E3CC;
  padding: 10px 15px;
  font-family: "Roboto_Condensed-Light";
  border-radius: 3px;
  border: 1px solid #C5E3CC;
  cursor: pointer;
}
.btn-1 i {
  margin-left: 6px;
}
.btn-1 i.fa-bars {
  margin-left: 0px;
}

.btn-2 {
  text-decoration: none;
  color: #252625;
  background-color: #F5F1E6;
  padding: 10px 15px;
  font-family: "Roboto_Condensed-Light";
  border-radius: 3px;
  border: 1px solid #F5F1E6;
  cursor: pointer;
}
.btn-2 i {
  margin-left: 6px;
}
.btn-2 i.fa-bars {
  margin-left: 0px;
}

.btn-3 {
  text-decoration: none;
  color: #C5E3CC;
  background-color: #252625;
  padding: 10px 15px;
  font-family: "Roboto_Condensed-Light";
  border-radius: 3px;
  border: 1px solid #252625;
  cursor: pointer;
}
.btn-3 i {
  margin-left: 6px;
}
.btn-3 i.fa-bars {
  margin-left: 0px;
}

.btn-4 {
  text-decoration: none;
  color: #252625;
  background-color: #C5E3CC;
  padding: 10px 15px;
  font-family: "Roboto_Condensed-Light";
  border-radius: 3px;
  border: 1px solid #C5E3CC;
  cursor: pointer;
}
.btn-4 i {
  margin-left: 6px;
}
.btn-4 i.fa-bars {
  margin-left: 0px;
}
.btn-4 {
  border: 1px solid #252625 !important;
}

p {
  font-family: "WorkSans-Regular";
  color: #252625;
}
p.min {
  font-size: 0.7rem;
}

.titulo-1 {
  font-family: "ScopeOne-Regular";
  line-height: 60px;
}

.titulo-2 {
  font-family: "ScopeOne-Regular";
}

.titulo-2-big {
  font-family: "ScopeOne-Regular";
  font-size: 3rem;
}

.titulo-2-min {
  font-family: "ScopeOne-Regular";
  font-size: 1.5rem;
}

.titulo-3 {
  font-family: "WorkSans-Regular";
}

.c-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.c-padding {
  padding: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .c-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container-mobile-fluid {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.header {
  background-color: #252625;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header .logo img {
  max-height: 50px;
}

.menu-xs {
  background-color: #C5E3CC;
  border-top-left-radius: 14px;
  width: 100%;
  max-width: 395px;
  position: fixed;
  top: 0;
  right: -100%;
  height: 100%;
  transition: 0.3s;
  overflow-y: auto;
  z-index: 9999;
  padding: 30px;
}
.menu-xs.active {
  right: -30px;
  -webkit-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
  box-shadow: -2px 4px 21px -1px rgba(0, 0, 0, 0.67);
}
.menu-xs .block-1 {
  border: 1px solid #4F4F4F;
  border-radius: 3px;
  height: 100%;
}
.menu-xs .block-1 ul {
  margin-left: 15px;
  margin-top: 25px;
}
.menu-xs .block-1 ul li {
  list-style: none;
}
.menu-xs .block-1 ul li a {
  text-decoration: none;
  color: #252625;
  font-family: "ScopeOne-Regular";
}
.menu-xs .block-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.menu-xs .block-footer .c-block .cta {
  display: flex;
  padding: 0px;
  position: relative;
}
.menu-xs .block-footer .c-block .cta .cuadro-1 {
  flex-grow: 1;
  height: 40px;
  border-top: 1px solid #5C605D;
  padding: 7px;
}
.menu-xs .block-footer .c-block .cta .cuadro-1 a {
  text-decoration: none;
  color: #252625;
  font-family: "WorkSans-Light";
  font-size: 0.6rem;
}
.menu-xs .block-footer .c-block .cta .cuadro-2 {
  width: 40px;
  height: 40px;
  border: 1px solid #5C605D;
  border-right: 0px;
  border-bottom: 0px;
  position: relative;
  /* Necesario para posicionar la línea */
  overflow: hidden;
  /* Corta los sobrantes de la línea */
}
.menu-xs .block-footer .c-block .cta .cuadro-2::before {
  content: "";
  position: absolute;
  background-color: #666;
  height: 1px;
  /* Grosor de la línea */
  /* Matemáticas: La diagonal de un cuadrado es lado * 1.4142 */
  width: 142%;
  /* Centrar y rotar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.menu-xs .block-footer .redes ul {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 25px;
  margin-bottom: 5px;
}
.menu-xs .block-footer .redes ul li span {
  background-color: #252625;
  width: 22px;
  border-radius: 50%;
  height: 22px;
  margin-right: 6px;
  display: inline-flex;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
}
.menu-xs .block-footer .redes ul li span .c-fa {
  color: #C5E3CC;
}
.menu-xs .block-footer p.phone a {
  margin-left: 17px;
  text-decoration: none;
  color: #252625;
  font-family: "WorkSans-Light";
}
.menu-xs .cerrar {
  text-align: right;
  position: relative;
}
.menu-xs .cerrar span {
  cursor: pointer;
  background-color: #252625;
  border-radius: 3px;
  position: absolute;
  right: 11px;
}
.menu-xs .cerrar span .fa-cmln {
  font-size: 1rem;
  color: #C5E3CC;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header .btns {
    text-align: right;
  }
  .menu-xs .block-1 ul.items {
    height: 300px;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .header .btns {
    text-align: right;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .header .btns {
    text-align: right;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.c-slider .titulo-1 {
  color: #F5F1E6;
  font-size: 4rem;
}
.c-slider p {
  color: #F5F1E6;
}
.c-slider .det-proyecto {
  padding: 30px 40px 30px 55px;
}
.c-slider .det-proyecto h2 {
  margin-bottom: 0px;
}
.c-slider .det-proyecto h3 {
  font-size: 1.4rem;
}
.c-slider .det-proyecto h5 {
  font-family: "WorkSans-Medium";
  color: #252625;
  font-size: 0.9rem !important;
}
.c-slider .det-proyecto p {
  font-family: "WorkSans-Light";
  color: #252625;
}
.c-slider .det-proyecto p.distrito {
  font-family: "WorkSans-Medium";
  color: #252625;
  font-size: 0.8rem;
}
.c-slider .det-proyecto ul {
  padding-left: 0px !important;
  list-style: none;
}
.c-slider .det-proyecto ul li p {
  color: #4F6A53;
}
.c-slider.c-slider-proyecto .tp-leftarrow {
  display: none !important;
}
.c-slider.c-slider-proyecto .tparrows.tp-rightarrow {
  background: none;
}
.c-slider.c-slider-proyecto .tparrows.tp-rightarrow::before {
  content: "\f061";
  font-family: "FontAwesome-thin";
  font-size: 2.8rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .c-slider .tp-bgimg {
    position: relative;
    overflow: hidden;
  }
  .c-slider .tp-bgimg::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    /* 🎨 Degradado de negro transparente hacia arriba */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }
  .c-slider .tp-forcenotvisible {
    visibility: visible !important;
    display: inline !important;
  }
  .c-slider {
    margin-top: 90px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .c-slider {
    margin-top: 77px;
  }
  .c-slider .rev_slider_wrapper {
    left: -13px !important;
  }
  .c-slider.c-slider-proyecto .tparrows.tp-rightarrow {
    left: 97% !important;
    top: 85% !important;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 32px;
}

/* a partir de aqui el CSS de las animaciones */
@keyframes anim-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes anim-up {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes anim-down {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes anim-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes anim-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
.anim-up,
.anim-down,
.anim-left,
.anim-right,
.anim-fade-in {
  animation-duration: 0.5s;
  /* la animacion dura X segundos */
  animation-delay: 0.5s;
  /* esperamos X segundos antes de hacer la animacion */
  animation-fill-mode: both;
  /* aplica estilos de la animacion antes y despues de reproducirla */
}

.anim-up {
  animation-name: anim-up;
}

.anim-down {
  animation-name: anim-down;
}

.anim-left {
  animation-name: anim-left;
}

.anim-right {
  animation-name: anim-right;
}

.anim-fade-in {
  animation-name: anim-fade-in;
}

.anim-pause-2 {
  animation-delay: 2s;
}

/* la animacion empieza en 2 seg. */
.anim-pause-3 {
  animation-delay: 3s;
}

/* la animacion empieza en 3 seg. */
.anim-pause-4 {
  animation-delay: 4s;
}

/* la animacion empieza en 4 seg. */
.anim-pause-5 {
  animation-delay: 5s;
}

/* la animacion empieza en 5 seg. */
/* todas las animaciones pausadas */
.paused * {
  animation-play-state: paused;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .fade-in {
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
  }
  .fade-in.active {
    opacity: 1;
  }
  /* Efecto de arriba a abajo */
  .fade-in-top {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  .fade-in-top.active {
    opacity: 1;
    transform: translateY(0);
  }
  /* Efecto de abajo a arriba */
  .fade-in-bottom {
    opacity: 0;
    transform: translateY(20px);
    /* Cambiado a un valor positivo para empezar desde abajo */
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  .fade-in-bottom.active {
    opacity: 1;
    transform: translateY(0);
  }
  /* Efecto de izquierda a derecha */
  .fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  .fade-in-left.active {
    opacity: 1;
    transform: translateX(0);
  }
  /* Efecto de derecha a izquierda */
  .fade-in-right {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  }
  .fade-in-right.active {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.c-footer {
  background-color: #252625;
  padding-top: 70px;
  padding-bottom: 40px;
}
.c-footer p.small {
  font-family: "WorkSans-Light";
  font-size: 0.7rem;
  color: #A5ADA7;
}
.c-footer .block-1 h2 {
  color: #C5E3CC;
}
.c-footer .block-1 ul.redes {
  display: flex;
  list-style: none;
  padding-left: 0px;
  margin-top: 25px;
}
.c-footer .block-1 ul.redes li span {
  background-color: #F5F1E6;
  width: 18px;
  border-radius: 50%;
  height: 18px;
  margin-right: 6px;
}
.c-footer .block-1 ul.redes li span .c-fa {
  color: #252625;
}
.c-footer .block-1 p {
  font-family: "WorkSans-Light";
  color: #A5ADA7;
}
.c-footer .block-2 ul li a {
  text-decoration: none;
  font-family: "ScopeOne-Regular";
  color: #F5F1E6;
}
.c-footer .block-2 ul.tyc li a {
  text-decoration: none;
  font-family: "WorkSans-Light";
  color: #F5F1E6;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.c-menu {
  background-color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  z-index: 99;
  -webkit-box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.16);
  box-shadow: 3px 4px 12px 0px rgba(0, 0, 0, 0.16);
}
.c-menu ul {
  display: inline-flex;
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
}
.c-menu ul li {
  margin-right: 11px;
  transition: 0.3s !important;
}
.c-menu ul li a {
  text-decoration: none;
  color: #252625;
  text-transform: uppercase;
  font-family: "IBMPlexSans-Bold";
  font-size: 0.85rem;
  transition: 0.3s !important;
  border-radius: 10px;
  border: 1px solid #FFF;
  padding: 8px 5px;
}
.c-menu ul li a:hover, .c-menu ul li a.active {
  border-radius: 10px;
  border: 1px solid #C5E3CC;
  background-color: #C5E3CC;
}
.c-menu ul li a.azul {
  background-color: #252625;
  color: #FFF;
}
.c-menu ul li a.azul:hover, .c-menu ul li a.azul.active {
  border-radius: 10px;
  border: 1px solid #252625;
  background-color: #252625;
}
.c-menu.c-fixed {
  position: fixed;
  top: 0;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.home_trayectoria {
  background-color: #C5E3CC;
  padding-top: 100px;
  padding-bottom: 70px;
}
.home_trayectoria p {
  color: #4F6A53;
}
.home_trayectoria .block-min .d-block {
  border-left: 1px solid #4F6A53;
  padding-left: 20px;
  padding-right: 30px;
}
.home_trayectoria .block-min .d-block h3 {
  color: #4F6A53;
  font-family: "ScopeOne-Regular";
  font-size: 2.5rem;
  margin-bottom: 0px;
}
.home_trayectoria .block-super h2, .home_trayectoria .block-super h3 {
  color: #252625;
  font-family: "ScopeOne-Regular";
  font-size: 14rem;
}
.home_trayectoria .block-super h2 {
  line-height: 14rem;
}
.home_trayectoria .block-super h3 {
  font-size: 2rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home_trayectoria .block-super h2 {
    font-size: 9rem;
    line-height: 9rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.home_proyectos {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #252625;
}
.home_proyectos form .content-control {
  position: relative;
}
.home_proyectos form .content-control label {
  color: #B8C1B9;
  font-family: "WorkSans-Regular";
  position: absolute;
}
.home_proyectos form .content-control select {
  margin-top: 30px;
  background-color: #252625;
  color: #939A94;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  /* Mover la flecha 1.5rem (aprox. 15px) a la izquierda */
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.8em;
  /* Tamaño de la flecha (ajusta si es necesario) */
  /* 4. Dar espacio al texto para que no se encime sobre la flecha */
  padding-right: 2rem;
  border-radius: 3px;
}
.home_proyectos form .btn-1 {
  margin-top: 30px;
}
.home_proyectos .blocks-1 .proyecto .img {
  height: 440px;
  overflow: hidden;
}
.home_proyectos .blocks-1 .proyecto .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home_proyectos .blocks-1 .proyecto .det {
  padding: 10px;
  border: 1px solid #5C605D;
}
.home_proyectos .blocks-1 .proyecto .det p {
  color: #F5F1E6;
  font-family: "WorkSans-Medium";
  font-size: 0.8rem;
  margin-bottom: 0px;
}
.home_proyectos .blocks-1 .proyecto .titulo {
  padding: 10px;
  border: 1px solid #5C605D;
}
.home_proyectos .blocks-1 .proyecto .titulo h4 {
  color: #F5F1E6;
  font-family: "WorkSans-Regular";
  margin-bottom: 0px;
}
.home_proyectos .blocks-1 .proyecto .titulo h5 {
  color: #F5F1E6;
  font-family: "WorkSans-Light";
  font-size: 1.2rem;
}
.home_proyectos .blocks-1 .cta {
  border: 1px solid #5C605D;
  display: flex;
  padding: 0px;
  position: relative;
}
.home_proyectos .blocks-1 .cta h2 {
  position: absolute;
  bottom: 0;
  margin-left: 20px;
}
.home_proyectos .blocks-1 .cta .c-block {
  display: contents;
}
.home_proyectos .blocks-1 .cta .cuadro-1 {
  flex-grow: 1;
  height: 70px;
  border-bottom: 1px solid #5C605D;
}
.home_proyectos .blocks-1 .cta .cuadro-2 {
  width: 70px;
  height: 70px;
  border: 1px solid #5C605D;
  border-right: 0px;
  border-top: 0px;
  position: relative;
  /* Necesario para posicionar la línea */
  overflow: hidden;
  /* Corta los sobrantes de la línea */
}
.home_proyectos .blocks-1 .cta .cuadro-2::before {
  content: "";
  position: absolute;
  background-color: #666;
  height: 1px;
  /* Grosor de la línea */
  /* Matemáticas: La diagonal de un cuadrado es lado * 1.4142 */
  width: 142%;
  /* Centrar y rotar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.home_cronologia {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F5F1E6;
}
.home_cronologia .slider .item {
  padding-left: 10px;
  margin-top: 30px;
  border-top: 1px solid #A5ADA7;
  padding-top: 15px;
  position: relative;
}
.home_cronologia .slider .item::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #A5ADA7;
  top: 0px;
  margin-top: -3px;
}
.home_cronologia .slider .item p {
  font-family: "WorkSans-Light";
  color: #252625;
  font-size: 0.9rem;
}
.home_cronologia .slider .item h4 {
  font-family: "WorkSans-Regular";
  color: #252625;
  margin-bottom: 0px;
  font-size: 1rem;
  margin-top: 10px;
}
.home_cronologia .slick-nexto {
  text-align: right;
}
.home_cronologia .slick-nexto i {
  cursor: pointer;
}

.c-responsive_center .slick-list {
  padding-left: 0 !important;
  /* oculta el lado izquierdo */
  padding-right: 120px !important;
  /* mantiene el peek derecho */
  overflow: hidden;
  /* por si acaso */
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home_cronologia {
    padding-right: 0px;
  }
  .home_cronologia .cont-slider {
    padding-left: 60px;
    margin-right: 0px;
  }
  .home_cronologia .cont-slider .col-slider {
    padding-right: 0px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.home_estetica {
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: #E3DBCE;
}
.home_estetica .img {
  height: 440px;
  overflow: hidden;
}
.home_estetica .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home_estetica .txt {
  display: flex;
}
.home_estetica .txt .d-block {
  background-color: #F5F1E6;
  width: 100%;
  padding: 20px;
  position: relative;
}
.home_estetica .txt .d-block p {
  font-family: "WorkSans-Light";
  position: absolute;
  bottom: 0;
  padding-bottom: 30px;
  padding-right: 30px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home_estetica .txt {
    height: 250px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .home_estetica .txt .d-block h2 {
    width: 250px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.entregados {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #F5F1E6;
}
.entregados .item .txt .c-block {
  border: 1px solid #818782;
  border-left: 0px;
  border-right: 0px;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 400px;
  position: relative;
}
.entregados .item .txt .c-block h4 {
  font-family: "WorkSans-Regular";
  color: #252625;
}
.entregados .item .txt .c-block .det p {
  color: #5C605D;
  font-family: "WorkSans-Medium";
  margin-bottom: 0px;
  font-size: 0.9rem;
}
.entregados .item .txt .c-block .det h5 {
  color: #252625;
  font-family: "WorkSans-Light";
  font-size: 1.1rem;
}
.entregados .item .txt .c-block.c-block-2 {
  min-height: inherit;
}
.entregados .item .slider {
  height: 100%;
  display: flex;
}
.entregados .item .slider .s-item {
  padding-right: 10px;
  overflow: hidden;
}
.entregados .item .slider .s-item .c-item {
  background-color: #000;
  height: 100%;
}
.entregados .item .slider .s-item .c-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .entregados {
    padding-left: 20px !important;
  }
  .entregados .item .slider .s-item .c-item {
    height: 300px;
  }
  .entregados .item .txt .c-block {
    min-height: initial;
  }
  .entregados .item .txt .c-block .det h5 {
    font-size: 1rem;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .entregados .item .txt .c-block .det {
    position: absolute;
    bottom: 0;
  }
  .entregados .item .slider {
    display: flex;
  }
  .entregados .item .slider .s-item.s-item-1 {
    width: 58%;
  }
  .entregados .item .slider .s-item.s-item-2 {
    width: 42%;
  }
  .entregados .item .slider .s-item .c-item img {
    height: 400px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.quienes_somos .c-text {
  border: 1px solid #5C605D;
  border-right: 0px;
  padding: 25px;
}
.quienes_somos .c-diagonal {
  position: relative;
  /* Necesario para posicionar la línea */
  overflow: hidden;
  padding: 0px;
  border: 1px solid #5C605D;
}
.quienes_somos .c-diagonal .c-block {
  width: 100%;
  aspect-ratio: 1/1;
  border-bottom: 1px solid #5C605D;
  position: relative;
}
.quienes_somos .c-diagonal .c-block::before {
  content: "";
  position: absolute;
  background-color: #666;
  height: 1px;
  /* Grosor de la línea */
  /* Matemáticas: La diagonal de un cuadrado es lado * 1.4142 */
  width: 142%;
  /* Centrar y rotar */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.quienes_somos .block-2 .item .c-txt {
  position: relative;
}
.quienes_somos .block-2 .item .c-txt p {
  position: absolute;
  bottom: 0px;
}
.quienes_somos .block-3 .c-block {
  padding: 25px;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .quienes_somos .c-text {
    padding-top: 150px;
  }
  .quienes_somos .block-3 .c-block {
    padding-top: 200px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.cotiza_aqui {
  padding-bottom: 40px;
}
.cotiza_aqui .block-2 .plano label {
  color: #939A94;
  font-family: "WorkSans-Medium";
  font-size: 0.9rem;
}
.cotiza_aqui .block-2 .form form .content-control {
  position: relative;
}
.cotiza_aqui .block-2 .form form .content-control label {
  color: #939A94;
  font-family: "WorkSans-Medium";
  font-size: 0.9rem;
  position: absolute;
}
.cotiza_aqui .block-2 .form form .content-control select,
.cotiza_aqui .block-2 .form form .content-control input[type=text],
.cotiza_aqui .block-2 .form form .content-control textarea,
.cotiza_aqui .block-2 .form form .content-control input[type=email] {
  margin-top: 30px;
  background-color: #F5F1E6;
  color: #939A94;
  border: 1px solid #939A94;
  /* Mover la flecha 1.5rem (aprox. 15px) a la izquierda */
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.8em;
  /* Tamaño de la flecha (ajusta si es necesario) */
  /* 4. Dar espacio al texto para que no se encime sobre la flecha */
  padding-right: 2rem;
  border-radius: 3px;
}
.cotiza_aqui .block-2 .form form .content-control select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23939A94' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}
.cotiza_aqui .block-2 .form form .content-control a {
  text-decoration: none;
  color: #939A94;
  text-decoration: underline;
}
.cotiza_aqui .block-2 .form form .content-control .form-control:focus,
.cotiza_aqui .block-2 .form form .content-control .form-select:focus {
  border-color: #252625;
  /* o el color que quieras */
  box-shadow: none;
  outline: none;
}
.cotiza_aqui .block-2 .form form .btn-1 {
  margin-top: 30px;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cotiza_aqui .block-1 {
    padding-top: 70px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
.proyecto.distrito .txt {
  position: relative;
}
.proyecto.distrito .txt p {
  font-family: "WorkSans-Light";
  color: #5C605D;
}
.proyecto.distrito .txt .c-foot {
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.proyecto.distrito .txt .c-foot p {
  border-bottom: 1px solid #5C605D;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.proyecto.distrito .txt .c-foot p:first-child {
  border-top: 1px solid #5C605D;
}
.proyecto.home_cronologia .botones {
  text-align: right;
  display: ruby;
}
.proyecto.home_cronologia .botones .btn-3 {
  border-radius: 3px 0px 0px 3px;
  margin-left: -5px;
  background-color: transparent;
  color: #252625;
  transition: 0.3s;
}
.proyecto.home_cronologia .botones .btn-4 {
  border-radius: 0px 3px 3px 0px;
  margin-left: -5px;
  background-color: transparent;
  transition: 0.3s;
}
.proyecto.home_cronologia .botones .btn-3.active,
.proyecto.home_cronologia .botones .btn-4.active {
  background-color: #252625;
  color: #FFF;
}
.proyecto.home_cronologia .slider .item {
  border-top: 0px;
}
.proyecto.home_cronologia .slider .item::after {
  width: 0px;
  height: 0px;
}
.proyecto.home_cronologia .slider.c-figure .item figure {
  height: 280px;
  overflow: hidden;
}
.proyecto.home_cronologia .slider.c-figure .item figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.proyecto.quienes_somos {
  background-size: cover;
  background-color: #252625;
}
.proyecto.quienes_somos .c-text {
  border: 1px solid #F5F1E6;
  border-right: 0px;
  padding-bottom: 250px;
  padding-top: 20px;
}
.proyecto.quienes_somos .c-text h2 {
  color: #F5F1E6;
}
.proyecto.quienes_somos .c-diagonal {
  border: 1px solid #F5F1E6;
}
.proyecto.quienes_somos .c-diagonal .c-block {
  border-bottom: 1px solid #F5F1E6;
}
.proyecto.quienes_somos .c-diagonal .c-block::before {
  background-color: #F5F1E6;
}
.proyecto.mapa a {
  background-color: #000;
  display: block;
  text-decoration: none;
  padding-top: 200px;
  padding-bottom: 200px;
  background-size: cover;
}
.proyecto.mapa a span p {
  text-decoration: none;
  color: #fff;
  margin-bottom: 0px;
}
.proyecto.mapa .ubicacion h2 {
  color: #FFF;
}
.proyecto.mapa .ubicacion .botones {
  text-align: right;
}
.proyecto.mapa .ubicacion iframe {
  width: 100%;
  height: 450px;
  filter: grayscale(100%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .proyecto.distrito .txt .c-foot {
    position: inherit;
  }
  .proyecto.home_cronologia .botones {
    display: contents;
  }
  .proyecto.quienes_somos .c-text {
    border-right: 1px solid #F5F1E6;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.referidos.quienes_somos .block-3 .c-block {
  padding-top: inherit;
  height: 100%;
  position: relative;
}
.referidos.quienes_somos .block-3 .c-block.c-img {
  padding: 0px;
}
.referidos.quienes_somos .block-3 .c-block .c-foot {
  position: absolute;
  width: 70%;
  bottom: 30px;
}
.referidos .nros .txt p {
  font-family: "WorkSans-Light";
}
.referidos .nros .nro .c-block {
  border: 1px solid #A5ADA7;
  height: 100%;
  position: relative;
}
.referidos .nros .nro .c-block .c-foot {
  padding: 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
}
.referidos .nros .nro .c-block .c-foot h2 {
  font-family: "ScopeOne-Regular";
  font-size: 3rem;
}
.referidos .nros .nro .c-block .c-foot h4 {
  font-family: "WorkSans-Regular";
  font-size: 1.1rem;
}
.referidos.cotiza_aqui .form .btns_interes_referido .btn {
  background-color: #F5F1E6;
  color: #939A94;
  border: 1px solid #939A94;
  width: 100%;
  text-align: left;
  border-radius: 3px;
  margin-bottom: 7px;
  transition: 0.3s;
}
.referidos.cotiza_aqui .form .btns_interes_referido .btn.active {
  background-color: #252625;
  color: #FFF;
}
.referidos.cotiza_aqui .form .btns_interes_referido .cta {
  background-color: #E3DBCE;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* vertical */
}
.referidos.cotiza_aqui .form .btns_interes_referido .cta p {
  margin-bottom: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .referidos.cotiza_aqui .form .btns_interes_referido .cta {
    min-height: 200px;
  }
  .referidos .nros .nro {
    margin-bottom: 15px;
  }
  .referidos .nros .nro .c-block .c-foot {
    position: relative;
  }
  .referidos.quienes_somos .block-3 .c-block {
    padding: 20px;
  }
  .referidos.quienes_somos .block-3 .c-block .c-foot {
    position: initial;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */
.tyc-body {
  background-color: #007F75;
}
.tyc-body.politica-body {
  background-color: #7C6C5D;
}
.tyc-body .block-1 .c-block {
  width: 100%;
  border: 1px solid #F5F1E6;
  padding: 25px;
}
.tyc-body .block-1 .c-block h1, .tyc-body .block-1 .c-block p {
  color: #F5F1E6;
}
.tyc-body .block-1 .c-block p {
  font-family: "WorkSans-Light";
}

/* Extra small devices (phones, 600px and down) */
/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
/* Extra large devices (large laptops and desktops, 1200px and up) */

/*# sourceMappingURL=cmln-style.css.map */
